@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Disclaimer: League of Legends and all it's assets are IP of Riot games. This tool uses conversion rates for the Garena server. This tool is intended as a free utility for anyone to use and is non - profit.</p>
<p>However if you intend to donate small amounts you can do so.</p>