
@{
    ViewBag.Title = "Conversion Chart";
}

<center>
    <h2>Conversion Chart</h2>
    <img src="~/Images/conversion_chart.jpg" class="img-responsive"/>
    <sub>Courtesy:<a href="https://lol.garena.com/news/general/blue-essence-conversion-what-you-need-know">Garena LOL</a></sub>
</center>
