@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Summoner Name:</strong>  Devastator25<br />
    <strong>Server:</strong>  Garena Singapore server<br />
</address>

<address>
    Bangalore, KA<br />
    <strong>India</strong><br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:keshav2509@gmail.com">Keshav2509@gmail.com</a><br />
</address>